@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.app{
  display:grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}
.app_parentBody{
  background-color: #60d890
  ;
  padding-top: 5px;
}
.app_parentBody >h4{
  color: white;
  padding: 0px 0px 5px 5px;
}

.app_body{
  display:flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
  font-family: 'Montserrat', sans-serif;
}